<div class="text-center">
    <span>
        <div *ngIf="retrievedImage else pictureHolder">
            <img [src]="retrievedImage" class="mx-auto p-5">
        </div>
        <ng-template #pictureHolder>
            <img src="assets/Placeholder-1.png" class="mx-auto p-5 placeholder">
        </ng-template>
        <div *ngIf="retrievedColorImage else pictureHolder">
            <img [src]="retrievedColorImage" class="mx-auto p-5">
        </div>
        <ng-template #pictureHolder>
            <img src="assets/Placeholder-1.png" class="mx-auto p-5 placeholder">
        </ng-template>
    </span>
</div>
