<div>
    <div class="custom-rule input-group">
        <input type="number" class="form-control col-2" [(ngModel)]="range" placeholder="Nearness">
        <div class="input-group-append">
            <button type="button" [disabled]=isRunning class="btn btn-primary" (click)="onStart()">Start Analyze</button>
            <button type="button" [disabled]=!isRunning (click)="onStop()" class="btn btn-primary">Stop</button>
        </div>
            <a routerLink="/results">
                <button type="button" [disabled]="!hasResult" class="btn btn-primary">Results</button>
            </a>
    </div>
    <div *ngIf="message" class="alert-danger my-2">
        <div class="px-5 py-2">
            {{ message }}
        </div>
    </div>
</div>
<p *ngIf="isRunning" class="mt-3 my-2">
    <ngb-progressbar type="info" [value]="loadingValue" [striped]="true" [animated]="true"><i>{{loadingValue}}%</i></ngb-progressbar>
</p>
